// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1022px;
$breakpoint-xl: 1200px;

:root {
  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --font-manrope: "Manrope", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --font-size-small: 12px;

  --home-link-color: #d4d4d4;
  --home-link-hover-color: var(--primary-color);

  --button-color: #e5c3d3;
  --button-alternate-color: #5c2941;

  --post-link-color: #0f070b;

  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0, 0, 0, 0.5);

  --label-text: #777;
  --input-focus-border: #83aaac;

  --white: #fff;
  --black: #000;
  --color-active: rgba(217, 70, 239, 1);

  // CSS Grid Utility
  --grid-gap: 30px;

  --white: #fff;
  --black: #000;
  --gray50: #fafafa;
  --gray300: #d4d4d8;
  --gray500: #71717a;
  --gray800: #27272a;
  --gray900: #18181b;

  --header-bg: var(--gray800);
  --bg: hsl(0, 0%, 10%);
  --text: var(--white);
  --text-black: var(--black);
  --theme-switch: var(--gray50);
  --footer-bg: var(--gray800);
  --menu-bg: var(--bg);
  --menu-line: var(--gray800);
}

[data-theme="dark"] {
  --bg: var(--gray800);
  --header-bg: var(--gray900);
  --text: var(--white);

  /*
  light:
  bground: bg-gray-50;
  text: text-gray-900, text-gray-500
  header: bg-gray-900 text-gray-300

  */
}
